<!DOCTYPE html>
<html>
<head>
  <title>Dummy</title>
  <%= stylesheet_link_tag "application", media: "all" %>
  <link href="//assets3.gaslight.co/assets/application-6111ec5a10665b15c76de7bd663e0c52.css" media="screen" rel="stylesheet" />
  <%= javascript_include_tag "application" %>
  <%= yield :javascript %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>