<nav {{bindAttr class=":sidebar isSidebarActive:sidebar--active"}}>
  <ol class="nav">
    {{#each sections itemController=navSection}}
      <li {{bindAttr class=":nav__item isActive:nav__item--active"}}>
        <div class="nav__heading">
          <span class="nav__heading__index">{{position}}.</span>
          <span class="nav__heading__title">{{title}}</span>
          <span class="nav__heading__count">{{currentChapterPosition}}/{{chapters.length}}</span>
        </div>
        <ul class="subnav">
          {{#each chapters itemController=navChapter}}
            <li {{bindAttr class=":subnav__item isActive:subnav__item--active isRestricted:subnav__item--disabled"}}>
              {{#linkTo 'chapter' this class="subnav__link"}}
                <span class="left">{{title}}</span>
                <span class="right">{{time duration}}</span>
              {{/linkTo}}

              {{#if videoUrl}}
                <a class="subnav__icon" {{bindAttr href=videoUrl}}><i class="fa fa-cloud-download"></i></a>
              {{/if}}
            </li>
          {{/each}}
        </ul>
      </li>
    {{/each}}
  </ol>
</nav>

<section {{bindAttr class=":main isSidebarActive:main--pushed"}}>
  <i {{action 'toggleSidebar'}} {{bindAttr class=":main__sidebar-toggler :fa isSidebarActive:fa-chevron-left:fa-chevron-right"}}></i>
  <div class="main__content">
    {{outlet}}
  </div>
</section>