{{#modal-dialog active=isModalActive}}
  <div class="row">
    <h1>Thanks for trying {{title}}</h1>
    <p>There's plenty more great content where that came from! If you enjoyed what you saw here, enroll in the full course!</p>
  </div>

  <hr/>

  <div class="modal__actions row">
    <div class="large-4 columns">
      <a class="action action--secondary button button--quiet" href="/training/">Exit the demo</a>
    </div>
    <div class="large-4 columns">
      <a class="button button--primary" {{action register}}>Enroll now!</a>
    </div>
  </div>
{{/modal-dialog}}

<header class="header">
  <div class="info-bar">
    <h1 class="info-bar__title">{{controllers.application.title}}</h1>

    {{#if showBlurb}}
      <div class="info-bar__notice bar__notice--demo">
        <p>
          Welcome to the {{title}} demo!<br/>
          If you like what you see, enroll in the full course!
        </p>
        {{#link-to 'course.register' this class="button button--primary"}}Enroll now!{{/link-to}}
      </div>
    {{/if}}

  </div>

  <div class="progress-bar">
    <div class="progress-bar__background"></div>
    <div {{bindAttr style=barStyle}} class="progress-bar__current-progress"></div>
  </div>
</header>

{{outlet}}