<h1><%= course.title %></h1>
<div class="course__description"><%= markdown(course.description_main) %></div>

<hr/>

<% if course.instructors.any? %>
  <h2>Instructors</h2>
  <% course.instructors.each do |instructor| %>
    <%= image_tag(instructor.image_url) %>
    <h5><%= instructor.name %></h5>
    <p><%= instructor.bio %> </p>
  <% end %>
<% end %>

<% if course.online? %>
  <h3 class="course__price"><%= number_to_currency(course.current_price, precision: 0) %></h3>
  <%= link_to('Try Now', classroom_index_path(anchor: "/courses/#{course.id}")) %>
  <%= link_to('Buy Now', classroom_index_path(anchor: "/courses/#{course.id}/register")) %>
<% else %>
  <h3><%= course.venue_city %></h3>
  <span class="course__price"><%= number_to_currency(course.current_price, precision: 0) %></span>
  <h5><%= course.date_range %></h5>
  <h5><%= course.venue_name %></h5>
  <%= link_to('Register Now', course.registration_link) %>
<% end %>

