<!DOCTYPE html>
<html>
<head>
  <title>Classroom</title>
  <%= stylesheet_link_tag "training_app/classroom", media: "all" %>
  <%= favicon_link_tag "32x32icon.png" %>
  <%= javascript_include_tag "training_app/classroom" %>
  <%= yield :javascript %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>