!!! 5
/[if lt IE 9] <html class="crappy-browser" lang="en">
<!--[if gt IE 8]><!-->
%html{lang: 'en', xmlns: "http://www.w3.org/1999/xhtml", 'xmlns:og' => "http://ogp.me/ns#", 'xmlns:fb' => "http://www.facebook.com/2008/fbml"}
  <!--<![endif]-->
  %head
    %title Your Receipt
    %meta{charset: "utf-8"}/
    %meta{content: "width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no", name: "viewport"}/
    %meta{content: description, name: 'description'}
    %meta{content: 'Gaslight LLC', name: 'author'}
    = favicon_link_tag "32x32icon.png"
    = stylesheet_link_tag 'print', media: 'print'
    = javascript_include_tag "modernizr"
    :sass
  %body{class: "#{controller.controller_name} #{controller.action_name}"}
    .row
      .columns.large-6
        %h1 Purchase Receipt
      .columns.large-6.right
        %h4.purchased-on
          = l(registration.created_at.to_date, format: :long)
    .row
      .columns.large-6
        %h3.payment-info Purchased By
        = raw [registration.name, registration.organization, registration.email, registration.phone].compact.join('<br />')
      .columns.large-6.right
        = image_tag('largeLogo.png')
        %p
          11126 Kenwood Rd, Suite C
          %br
          Cincinnati, Ohio 45242
    .row
      .columns.large-12
        %table
          %thead
            %tr
              %th Course
              %th Amount
              %th Quantity
              %th Total
          %tbody
            %tr
              %td= course.name
              %td= number_to_currency(registration.amount)
              %td 1
              %td= number_to_currency(registration.amount)
    .row
      .columns.large-4.right
        %h3.payment-info Payment Information
        %p
          %strong Card Info:
          = registration.card_type
          = "*#{registration.last4}"
        %p
          %strong Expiration Date:
          - if registration.expires_on.present?
            = registration.expires_on.strftime('%m/%Y')
    .row
      .columns.large-12.notes
        %h3 Notes
        %p
          Thank you for your purchase!
        %p
          If you have any questions or concerns, email us at 
          %strong training@gaslight.co
          and we'll be in touch. Happy learning!
